* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h3 {
  text-align: center;
}

p {
  text-align: right;
}

p a {
  background-color: lightgray;
  color: black;
  text-decoration: none;
  margin: 3px;
  padding: 5px 10px;
  font-weight: bold;
}

p a:visited {
  color: black;
  background-color: #4caf50;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  border: 2px solid #4caf50;
  padding: 20px;
  margin-top: 10px;
  background-color: #4caf50;
}

.topic {
  background-color: white;
  border: 2px solid #a5d6a7;
  padding: 10px;
  border-radius: 5px;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

.topic a {
  color: #1565c0;
  text-decoration: none;
  font-weight: bold;
}

.topic b {
  display: block;
  margin-bottom: 5px;
}

.topic:nth-last-child(4) b {
  background-color: lightgray;
}

@media (max-width: 1450px) {
  .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }

  .topic {
    width: 100%;
  }
}
