* {
    box-sizing: border-box;
    font-family: sans-serif;
}

.hat {
    border: 2px solid gray;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 5px 2.2%;
    overflow: hidden;
    height: 60px;
}

.hat h1 {
    margin: 0;
    font-size: 1em;
    color: #769aff;
    float: left;
    line-height: 45px;
}

.hat > div {
    float: right;
}

.menu {
    display: inline-block;
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    background-color: transparent;
    color: #769aff;
}

.menu.active {
    background-color: #769aff;
    color: white;
}

.wrap {
    border: 1px solid #ccc;
    width: 90%;
    margin: 10px auto;
    height: 400px;
    overflow: hidden;
}

.left {
    float: left;
    width: 40%;
    height: 100%;
}

.right {
    float: right;
    width: 60%;
}

.top {
    height: 130px;
}

.mid-left, .mid-right {
    float: left;
    width: 50%;
    height: 135px;
}

.bottom-left, .bottom-right {
    float: left;
    width: 50%;
    height: 135px;
}

.wrap-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.container {
    overflow: hidden;
    width: 90%;
    margin: 10px auto;
}

.card {
    overflow: hidden;
    border-radius: 15px;
    padding: 10px;
    margin-top: 15px;
}

.card h3 {
    margin: 10px 0; 
    text-align: center;
}

.card p {
    font-size: 14px;
    line-height: 1.3;
}

.card .pic {
    display: block;
    width: 100%;
    border-radius: 10px;
    margin: 10px auto;
    object-fit: cover;
}

.pink { background: #f8b7c0; }
.blue { background: #8de3ea; }

.wide { margin-right: 3%; }
.small { margin-bottom: 10px; }

.card.large {
    float: left;
    width: 25%;
    background: #aeb9be;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
}

.card.large .pic {
    height: 200px;
}

.right-side {
    float: right;
    width: 74%;
}

.left-btn,
.right-btn {
    background: #3b82f6;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.left-btn { float: left; }
.right-btn { float: right; }

.link {
    text-decoration: underline;
    color: #3b82f6;
    font-size: 13px;
    display: inline-block;
    margin-top: 5px;
}

.top-right-column {
    float: left;
    width: 35%;
    overflow: hidden;
}

.bottom-right-row {
    float: left;
    width: 65%;
    overflow: hidden;
}

.card.small {
    display: block;
    overflow: hidden;
    padding: 10px;
    min-height: 130px;
    border-radius: 10px;
}

.card.small h3 {
    float: left;
    width: 15%;
    margin: 0;
    font-size: 16px;
    text-align: left;
    line-height: 1.4;
}

.card.small .text-wrapper {
    float: left;
    width: 65%;
    padding: 0;
}

.card.small .text-wrapper p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.4;
}

.card.small .text-wrapper .link.top-right {
    float: right;
    text-align: right;
}

.card.small .text-wrapper .link.bottom-left {
    float: left;
    text-align: left;
}

.card.small .pic {
    float: right;
    width: 120px;
    height: 120px;
    border-radius: 10px;
    margin: 5px auto;
    object-fit: cover;
}

.card.small.blue h3 {
    float: left;
    width: 20%;
    margin: 0;
    font-size: 16px;
    text-align: left;
    line-height: 1.4;
}

.card.small.blue .pic {
    float: left;
    margin: 5px 10px 5px 0;
}

.card.small.blue .text-wrapper {
    float: right;
    width: 63%;
    padding: 0;
}

.card.small.blue .text-wrapper p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.4;
}

.card.small.blue .text-wrapper .link.top-right {
    float: right;
    text-align: right;
}

.card.small.blue .text-wrapper .link.bottom-left {
    float: left;
    text-align: left;
}

.top-right-column .card.pink.wide .pic,
.top-right-column .card.blue.wide .pic {
    height: 150px;
}

.bottom-right-row .card.small img {
    width: 15%;
}
